@font-face {
  font-family: 'Leahyol';
  src: url('Fonts/Leahyol.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MZhiNgai PRC UltraBold';
  src: url('/MZhiNgai PRC UltraBold.ttf') format('truetype');
}

.socialMedia {
  background-color: #ffccaa;
  font-size: 30px;
  padding: 10px 10px;
  border-radius: 25px;
  border-style: solid;
  display:block;
  justify-content: center;
  text-align: center;
  align-items:center;
  width:50%;
}

.iframe-container {
  font-family: 'Leahyol' !important;
}

.iframe wikipedia { 
  font-family: inherit !important;
}

.webring {
  font-family: 'Leahyol';
  text-align: center; 
  align-items: center; 
  font-size: 30px;
  width: 50%;
}
.webring a{ 
  border-style:solid;
  font-style: bold;
  padding: 10px 10px;
  color: black;
}
.webring a.arrow { 
  font-size: 60px;
}

.webring a.body {
  font-size: 60px;
}

.socialMedia a {
  border-style: solid;
  border-color: black;
  background-image: linear-gradient(to right, orange, brown);
  border-radius:25px;
  padding: 10px 10px 10px 10px;
  display: block;
}

.sidebar {
  /*
  background-color: white;
  border-style: solid;
  */
  font-size: 30px;
  width: 180px;
  display: block;
  font-style: bold;
   font-size: 36px;
   float: left;
}
.sidebar a {
  border-style: solid;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items:center;
  color: #aa5a3f;
  font-style: bold;
   font-size: 36px;
   height: 105px;
   overflow:hidden;
   font-family:"Leahyol";
}

.sidebar a:hover {
  background-color: #e38614;;
  color: black;
}

.sidebar a.active {
  border-style: solid;
  display: flex;
  justify-content: center;
  background-color: #AA5500;
  color: white;
  text-align:center;
}

.sidebar a.a88x31 { 
  display: flex;
  justify-content: center;
  width: 88px;
  height: 31px;
} 

img.artdump {
  margin-left: 2.5%;
  margin-top:2.5%;
  display: block;
  width: 25%;
  height: 25%; 
  float: right;
  position: relative;
  align-content: center;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #e3a674;
  overflow: hidden;
  font-family: "Leahyol";
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #aa5a3f;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 36px;
  font-style: bold;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  height: 75px;
  border-style: solid;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e38614;;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #AA5500;
  color: white;
}

.topnav a.home {
  background-color: #884400;
  border-color: #884400;
}

.topnav a.lang {
  float: right;
  text-align: center; 
  font-size: 11px;
}

.webring { 
  float: center;
  font-size: 13px;
}
.webring arrow{ 
   float: center;
}

.webring body {
  float: center; 
}

body {
  background-color: #ffccaa;
  font-family: "";
}
h1 {
  font-family: 'Leahyol';
  font-size: 40 
}

h2 {
  font-family: 'Leahyol';
  font-size: 35
}

h3 {
  font-family: 'Leahyol';
  line-height: 1.5;
  font-size: 30
}

p { 
  font-family: 'Roboto';
} 








